body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
}


header{
    background: #ffde59;
    text-align: center;
    padding: 50px 20px;
}


header h1 {
    font-size: 3rem;
    margin: 0;
}


header p{
    font-size: 1.2rem;
}

button{
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;

}


main{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.trending {
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.treding h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

article {
    border-bottom: 1px solid #ddd;
    padding: 10px 0
}

article:last-child {
    border-bottom: none;
}

article h3 {
    font-size: 1.2rem;
    margin: 5px 0;
}